@page
@using System.Security.Claims;
@model IndexModel
@inject IFileStore _fileStore
@{
    ViewData["Title"] = "Home page";
}

    <div>
        <h1 class="display-4">Welcome</h1>
        @if (!string.IsNullOrWhiteSpace(User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
        {
            <img src="\images\@User.FindFirst(ClaimTypes.NameIdentifier)?.Value\MyTimelapse.gif" />
            <video id="video" width="640" height="480" autoplay></video>
            <button id="snap">Snap Photo</button>
            <canvas id="canvas" width="640" height="480"></canvas>
            <button id="btnSave">Save Photo</button>
        }
    </div>

@section Scripts
{
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                $.ajax({
                    url: '',
                    data: new FormData(document.forms[0]),
                    contentType: false,
                    processData: false,
                    type: 'post',
                    success: function () {
                        alert('Uploaded by jQuery');
                    }
                });
            });
        });
    </script>

    <script>
        var video = document.getElementById('video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                video.srcObject = stream;
                video.play();
            });
        }

        // Elements for taking the snapshot
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');

        document.getElementById("snap").addEventListener("click", function () {
            context.drawImage(video, 0, 0, 640, 480);
        });

        $("#btnSave").click(function () {
            canvas.toBlob(function (blob) {
                const formData = new FormData();
                formData.append('UploadedFile', blob, 'UploadedFile.png');
                $.ajax({
                    url: '',
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'post',
                    success: function () {
                        location.reload();
                        //alert('Uploaded by jQuery');
                    }
                });
            });
        });

    </script>
}