@page
@model TimeLapseWebHost.Pages.BlobsModel
@{
    ViewData["Title"] = "Create Blob Container";
}

<h1>Blobs</h1>

<h2>Create Blob Container results</h2>

Creation of @Model.Container @(Model.Success == true ? "succeeded" : "failed")
