<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - COGIF-19</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://unpkg.com/tailwindcss@@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="bg-white shadow">
            <nav class="container mx-auto py-4 font-sans text-center flex flex-col sm:flex-row sm:text-left sm:justify-between sm:items-baseline w-full ">
                <div>
                    <a asp-area="" asp-page="/Index" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark">COGIF-19</a>
                    <a asp-area="" asp-page="/Index" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Home</a>
                    <a asp-area="" asp-page="/Privacy" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Privacy</a>
                </div>
                <partial name="_LoginPartial" />
            </nav>
        </div>
    </header>
    <div class="container mx-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - COGIF-19 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
